.main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: [start-col] auto [first-col] 700px [sec-col] 400px [third-col] 200px [forth-col] auto;
  grid-template-rows: [first-row] 80px [sec-row] 160px [third-row] 320px [forth-row] 160px [fifth-row] auto;
}

#added-white-bit {
  grid-column-start: third-col;
  grid-column-end: forth-col;
  grid-row-start: third-row;
  grid-row-end: forth-row;
  background-color: white;
}

.img-div {
  grid-row-start: sec-row;
  grid-row-end: fifth-row;
  grid-column-start: sec-col;
  grid-column-end: third-col;
}

.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-part {
  background-color: white;
  padding-left: 2rem;
  padding-top: 1rem;
  min-height: 15rem;
  grid-column-start: first-col;
  grid-column-end: sec-col;
  grid-row-start: third-row;
  grid-row-end: forth-row;
}

.main-part h1 {
  font-size: 4rem;
  font-weight: 700;
}

#timer {
  vertical-align: middle;
}

#time {
  color: var(--my-grey);
  padding-right: 0.6rem;
  font-size: 1.125rem;
}

#description {
  margin-top: 1rem;
  word-wrap: break-word;
  width: 80%;
  min-height: 45%;
  padding-bottom: 40px;
}

#creator {
  margin-bottom: 5px;
  color: var(--my-grey);
}

.lower-part {
  margin-bottom: 50px;
}

.ingredients {
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}

.ingredients ul {
  margin-left: 50px;
}

.ingredients h1 {
  font-weight: 700;
}

.recipe {
  width: 60%;
  margin: auto;
}

.recipe h1 {
  font-weight: 700;
}

#recipe-description {
  word-wrap: break-word;
  margin-left: 3px;
}

@media screen and (max-width: 612px) {
  .main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-part {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #title {
    font-size: 2rem;
    font-weight: 600;
  }

  #time {
    margin: 0;
    padding: 0;
  }

  #description {
    margin: 0 auto;
    margin-top : 0.7rem;
    width: 90%;
    padding-bottom: 20px;
  }

  #recipe-image {
    border-radius: none;
  }

  .ingredients {
    margin-top: 2rem;
  }

  .ingredients h1 {
    font-size: 2rem;
    font-weight: 600;
    
  }

  .ingredients ul {
    margin-left: 30px;
    max-width: 100%;
  }

  .recipe {
    max-width: 100%;
    font-weight: 600;
  }

  .recipe h1 {
    font-size: 2rem;
  }
}
