<div id="navbar">
  <button (click)="homeHandler()" class="logo-btn">MealPlanned</button>
  <div id="right-side">
    <button routerLink="/create-recipe" class="create-recipe-btn">
      Create Recipe
    </button>
    <div class="user-btn" *ngIf="!isLoggedIn">
      <button id="login" routerLink="/login" class="btn">Login</button>
      <button id="register" routerLink="/register" class="btn">Register</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button class="btn" id="logout" (click)="logoutHandler()">Logout</button>
    </div>
  </div>
</div>
