<div class="main">
  <form
    (submit)="submitHandler($event)"
    id="myForm"
    enctype="multipart/form-data"
  >
    <label for="title">Title</label>
    <input type="text" id="title" name="title" />

    <label for="image">Image</label>
    <input type="file" id="image" name="image" />

    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      cols="5"
      rows="5"
      maxlength="250"
    ></textarea>

    <label for="numOfMin">Time to make (example : 60 (min))</label>
    <input type="text" id="numOfMin" name="numOfMin" />

    <label for="ingredients">Ingredients (split by ,)</label>
    <input type="text" id="ingredients" name="ingredients" />

    <label for="recipeInstructions">Recipe Instructions</label>
    <textarea
      name="recipeInstructions"
      id="recipeInstructions"
      cols="30"
      rows="10"
      maxlength="3000"
    ></textarea>
    <button id="submit" class="btn">Create Recipe</button>
  </form>
  <div class="success-msg" *ngIf="postSuccess">
    <p>Recipe Successfully Created!</p>
  </div>
  <div class="error-msg" *ngIf="isError">
    {{ errorMessage }}
  </div>
</div>
